*.swp
*.swo
*~
*.bak
Makefile
Makefile.old
blib/
pm_to_blib
MYMETA.*
Merger.bs
Merger.so
Merger.o
Merger.c
*.o
srl_protocol.h
srl_taginfo.h
ptable.h
const-c.inc
const-xs.inc
srl_inline.h
ppport.h
t/test_set.pl
et
t/lib/Sereal/TestSet.pm
typemap
srl_common.h
srl_stack.h
srl_reader.h
srl_reader_decompress.h
srl_reader_error.h
srl_reader_misc.h
srl_reader_types.h
srl_reader_varint.h
Sereal-Merger-*.tar*
callgrind.out.*
author_tools
t/data/corpus
t/lib
inc/Devel/CheckLib.pm
snappy
t/700_roundtrip
t/004_testset.t
.gdb_history
inc
miniz.c
miniz.h
