*.bak
*.o
*.swo
*.swp
*~
.gdb_history
MYMETA.*
Makefile
Makefile.old
Iterator.bs
Iterator.c
Iterator.o
Iterator.so
Sereal-Iterator-*.tar*
author_tools
blib/
callgrind.out.*
const-c.inc
const-xs.inc
et
inc
inc/Devel/CheckLib.pm
miniz.*
pm_to_blib
ppport.h
ptable.h
snappy
srl_decoder.*
srl_common.h
srl_error.h
srl_inline.h
srl_protocol.h
srl_reader.h
srl_reader_decompress.h
srl_reader_error.h
srl_reader_misc.h
srl_reader_types.h
srl_reader_varint.h
srl_stack.h
srl_taginfo.h
typemap
qsort.h
zstd
