*~
author_tools
*.bak
blib/
callgrind.out.*
Decoder.bs
Decoder.c
Decoder.o
Decoder.so
et
.gdb_history
inc
inc/Devel/CheckLib.pm
Makefile
Makefile.old
miniz.?
MYMETA.*
*.o
pm_to_blib
ppport.h
ptable.h
Sereal-Decoder-*.tar*
snappy
srl_common.h
srl_inline.h
srl_protocol.h
srl_taginfo.h
srl_reader.h
srl_reader_decompress.h
srl_reader_misc.h
srl_reader_error.h
srl_reader_types.h
srl_reader_varint.h
srl_stack.h
*.swo
*.swp
t/004_testset.t
t/700_roundtrip
t/data/corpus
t/lib
t/lib/Sereal/TestSet.pm
t/test_set.pl
typemap
