*.swp
*.swo
*~
*.bak
Makefile
Makefile.old
blib/
pm_to_blib
MYMETA.*
Splitter.bs
Splitter.so
Splitter.o
Splitter.c
*.o
miniz.*
srl_protocol.h
ptable.h
const-c.inc
const-xs.inc
srl_inline.h
ppport.h
typemap
srl_common.h
srl_reader.h
srl_reader_decompress.h
srl_reader_error.h
srl_reader_misc.h
srl_reader_types.h
srl_reader_varint.h
Sereal-Splitter-*.tar*
author_tools
t/data/corpus
t/lib
inc/Devel/CheckLib.pm
snappy
t/700_roundtrip
t/004_testset.t
inc
