*.swp
*.swo
*~
*.bak
Makefile
Makefile.old
blib/
pm_to_blib
MYMETA.*
Path.bs
Path.so
Path.o
Path.c
Iterator.bs
Iterator.so
Iterator.o
Iterator.c
*.o
srl_error.h
srl_protocol.h
srl_taginfo.h
ptable.h
const-c.inc
const-xs.inc
srl_inline.h
srl_reader.h
srl_reader_decompress.h
srl_reader_error.h
srl_reader_misc.h
srl_reader_types.h
srl_reader_varint.h
ppport.h
et
typemap
srl_common.h
Sereal-Path-*.tar*
callgrind.out.*
author_tools
inc/Devel/CheckLib.pm
snappy
miniz.*
.gdb_history
inc
