*.swp
*.swo
*~
*.bak
Makefile
Makefile.old
blib/
pm_to_blib
MYMETA.*
*.o
srl_protocol.h
ptable.h
srl_inline.h
ppport.h
dt
typemap
srl_common.h
Sereal-*.tar.gz
t/005_flags.t
t/004_testset.t
t/data/corpus
t/700_roundtrip/v3/snappy_incr.t
t/700_roundtrip/v3/readonly.t
t/700_roundtrip/v3/zlib_force.t
t/700_roundtrip/v3/sort_keys_perl_rev.t
t/700_roundtrip/v3/sort_keys_perl.t
t/700_roundtrip/v3/sort_keys.t
t/700_roundtrip/v3/zlib.t
t/700_roundtrip/v3/plain_canon.t
t/700_roundtrip/v3/dedudep_strings.t
t/700_roundtrip/v3/snappy.t
t/700_roundtrip/v3/plain.t
t/700_roundtrip/v3/snappy_canon.t
t/700_roundtrip/v3/freeze_thaw.t
t/700_roundtrip/v3/snappy_incr_canon.t
t/700_roundtrip/v2/snappy_incr.t
t/700_roundtrip/v2/readonly.t
t/700_roundtrip/v2/sort_keys.t
t/700_roundtrip/v2/plain_canon.t
t/700_roundtrip/v2/dedudep_strings.t
t/700_roundtrip/v2/snappy.t
t/700_roundtrip/v2/plain.t
t/700_roundtrip/v2/snappy_canon.t
t/700_roundtrip/v2/freeze_thaw.t
t/700_roundtrip/v2/snappy_incr_canon.t
t/700_roundtrip/v1/plain_canon.t
t/700_roundtrip/v1/snappy.t
t/700_roundtrip/v1/plain.t
t/700_roundtrip/v1/snappy_canon.t
t/lib/Sereal/BulkTest.pm
t/lib/Sereal/TestSet.pm
t/002_have_enc_and_dec.t
