*.swp
*.swo
*~
*.bak
Makefile
Makefile.old
blib/
pm_to_blib
MYMETA.*
*.o
srl_protocol.h
ptable.h
srl_inline.h
ppport.h
dt
typemap
srl_common.h
Sereal-*.tar.gz
t/005_flags.t
t/004_testset.t
t/data/corpus
t/700_roundtrip/
t/lib/Sereal/BulkTest.pm
t/lib/Sereal/TestSet.pm
t/002_have_enc_and_dec.t
